@use "./mixins.scss" as *;
@use "./variables.scss" as *;

.gameCard {
    &__container {
        &--main {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        margin-inline: auto;
        @include tablet {
            margin-top: 70px;
            min-width: 760px;
            max-width: 1020px;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include desktop {
            margin-top: 90px;
            min-width: 1020px;
            flex-direction: row;
            flex-wrap: wrap;
        }

        }
        &--description {
        background-color: $bgc-color; 
        border-radius: 5px;
        min-width: 360px;
        max-width: 767px; 
        color: $primary-color; 
        padding: 6px 10px; 
        margin-top: 10px;

        @include tablet {
            margin-top: 20px;
            min-width: 760px;
            max-width: 1020px;
            padding: 12px 20px;
        }
        @include desktop {
            margin-top: 20px;
            min-width: 1020px;
            padding: 14px 28px;
        }
        }
        &--rates {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-inline: auto;
            gap: 5;
            margin-top: 15px; 
            width: 360px;
            padding: 10px;
            background-color: $bgc-color; 

            @include tablet {
                margin-top: 20px;
                min-width: 760px;
                max-width: 1020px;
                padding: 12px 20px;
            }
            @include desktop {
                margin-top: 20px;
                min-width: 1020px;
                padding: 14px 28px;
            }
        }
    }
    &__image {
        margin-top: 20px;
        width: 360px; 
        border-radius: 5px;
        @include tablet {
            margin-top: 20px;
            min-width: 760px;
            max-width: 1020px;
            
            
        }
        @include desktop {
            margin-top: 20px;
            min-width: 1020px;
            
        }
    }
    &__title--game {
        background-color: $bgc-color;
        border-radius: 5px; 
        width: 360px; 
        text-align: center; 
        padding: 1px 10px; 
        margin-top: 15px;

         @include tablet {
            margin-top: 20px;
            padding: 10px 20px;
            min-width: 760px;
            max-width: 1020px;
            
        }
        @include desktop {
            margin-top: 25px;
            padding: 20px 30px;
            min-width: 1020px;
        }
        
    }
    &__title {
        font-size: 22px;
        font-weight: 600;

        @include tablet {
            font-size: 24px;
        }
        @include desktop {
           font-size: 28px;
        }
    }
    &__description {
        &__title {
            display: block;
            border-bottom: $primary-border;
            font-size: 20px;
            line-height: 2em;
            font-weight: 500;

            @include tablet {
                font-size: 24px;
            }
            @include desktop {
               font-size: 28px;
               
            }
        }
        &__txt {
            overflow: auto;
            height: 300px;
            margin-top: 10px;
            font-weight: 400;
            font-size: 18px;
            padding-bottom: 6px;

            @include tablet {
                font-size: 20px;
                height: 300px;
            }
            @include desktop {
               font-size: 20px;
               height: 400px;
            }
        }
    }
    &__esrb {
        display: flex;
        flex-basis: 40%; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        gap: 3;

        &__title {
            font-weight: bold;
            font-size: 20px;
            border-bottom: $primary-border; 
            line-height: 2em;
            @include tablet {
                font-size: 24px;
            }
            @include desktop {
               font-size: 28px;
               border-bottom: $secondary-border;
            }
        }
        &__rate {
            margin-top: 10px;

            @include tablet {
                font-size: 20px;
            }
            @include desktop {
               font-size: 24px;
            }
        }      
    }
    &__metascore {
        margin-left: 20px;
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3;
        &__title {
            font-weight: bold;
            font-size: 20px;
            border-bottom: $primary-border;
            line-height: 2em;

            @include tablet {
                font-size: 24px;
            }
            @include desktop {
               font-size: 28px;
               border-bottom: $secondary-border;
            }
        }
        &__score {
            font-weight: 400;
            margin-top: 10px;

            @include tablet {
                font-size: 20px;
            }
            @include desktop {
               font-size: 24px;
            }
        }
    }
    &__platforms {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        gap: 5;
        margin-top: 15px; 
        width: 360px;
        padding: 10px;
        background-color: $bgc-color; 
        margin-bottom: 30px;
        @include tablet {
            margin-top: 20px;
            margin-bottom: 30px;
            padding:20px 10px;
            min-width: 760px;
            max-width: 1020px;
            
        }
        @include desktop {
            padding:20px 10px;
            margin-top: 25px;
            margin-bottom: 30px;
            padding: 20px 30px;
            min-width: 1020px;
        }
        &__title {
            text-align: center; 
            font-weight: bold;
            font-size: 20px;
            border-bottom: $primary-border;
            line-height: 2em;

            @include tablet {
                font-size: 24px;
            }
            @include desktop {
               font-size: 28px;
               border-bottom: $secondary-border;
            }
        }
        &__txt {
            text-align: center; 
            color: white; 
            margin-top: 10px;

            @include tablet {
                font-size: 20px;
            }
            @include desktop {
               font-size: 24px;
            }
        }
    }
}

