body {
   
    background-image: radial-gradient(ellipse, rgba(255, 0, 9, 1) 0%, rgba(0, 5, 20, 1) 95%, rgba(255, 0, 9, 1) 100%);
    background-size: 2000px;
    background-position: bottom;
    background-attachment: fixed;
    color: cornsilk;
    
}
